.canvas-container{
    margin-top: 20px;
    font-family: 'Cutive Mono', monospace;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

header2{
    display: flex;
    justify-content: space-between;
    background-color: #FFDEDE;
    border: 5px solid #351516;
    margin-top: 20px;
    padding: 5px;
}

.header{
    font-family: 'Cutive Mono', monospace;
    font-size: 20px;
    font-weight: bolder;
}

.doodle-controller{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(171, 148, 151);
    border: 5px solid #351516;
    border-top: none;
}

.doodle{
    border-top: none;
    border: 8px solid #929798;
    border-bottom: 40px solid rgb(69, 55, 55);
    outline: 3px solid rgb(0, 0, 0);
}

.controls{
    font-family: 'Cutive Mono', monospace;
    font-size: larger;
    color: white;
    font-weight: bolder;
}

button{
    background: none;
    border: none;
}

strong{
    color: pink;
}




