.gallery{
    font-family: 'Cutive Mono', monospace;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

header3{
    display: flex;
    justify-content: space-between;
    background-color: #D0E8DE;
    border: 5px solid #351516;
    margin-top: 20px;
    padding: 5px;
}

.drawing-list{
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.drawing{
    margin-top: 20px;
    background-position: center;
    padding: 1rem;
    min-height: 170px;
    max-height:300px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid black;
}

.image{
    height: 280px;
    width: 280px;
}

.drawing-footer{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.load-drawings{
    font-family: 'Cutive Mono', monospace;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #F9DE87;
    padding: 10px;
    transition: 350ms;
    font-weight: bolder;
}

.load-drawings:hover{
    background-color: #98BFDE;
}