.spiral-bound{
    max-width: 100%;
}

header{
    background-color: #DBC6C5;
    display: flex;
    justify-content: space-between;
    border: 4px solid #351516;
    margin-top: 20px;
    padding: 5px;
}

strong{
    font-size: 80px;
    font-family: 'Pacifico', cursive;
    filter: drop-shadow(0.5rem 0 0.95rem rgb(255, 255, 255));
    color: rgb(207, 171, 103);
    -webkit-text-stroke: 3px rgb(223, 189, 128);
    padding: 5px;
} 

.welcome-message{
    color: rgb(195, 85, 118);
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    font-size: 30px;
}

.links{
    padding: 5px;
}

.header{
    padding: 3px;
    margin-left: 10px; 
    border-style: none;
    transition: 350ms;
    margin-top: 10px;
}

.header:hover{
    filter: drop-shadow(0.5rem 0 0.95rem rgb(255, 255, 255));
}

.notepad{
    border-top: none;
    padding-right: 15px;
    padding-left: 15px;
}

.notes-container{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Cutive Mono', monospace;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    border-top: none;
    /* transform: scale(.55); */
}

.quote-box{
    margin-top: 10px;
}

b{
    text-align: center;
    display: block;
}

h4{
    text-align: center;
    font-size: 25px;
    padding: 1rem;
    color: gray;
}

.search-box{
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-color: white;
}

.search-input{
    border: none;
}

.search-input:focus{
    outline: none;
}

.notes-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.note{
    white-space: pre-wrap;
    background-color: #F9DE87;
    background-position: center;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    max-height:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
    border: 2.5px solid #351516;
}

mark{
    font-weight: bold;
    background-color:#f3e6aa
}

.note-content{
    overflow: scroll;
}

.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note.new{
    background: none;
    background-color: #D8A263;
    background: url("../images/note.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.error-message{
    color: red;
}

textarea{
    background: transparent;
    border: none;
    resize: none;
    font-weight: bolder;
}

textarea:focus{
    outline: none;
}

.save{
    font-family: 'Cutive Mono', monospace;
    background-color: #FFD7DB;
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    transition: 350ms;
    font-weight: bolder;
}

.save:hover{
    color: black;
    background-color:white;
    filter: drop-shadow(0.5rem 0 0.95rem rgb(255, 255, 255));
    cursor: pointer;
}

.delete-icon:hover{
    cursor: pointer;
}

.load-more{
    font-family: 'Cutive Mono', monospace;
    font-size: 15px;
    background-image: url(../images/another.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: bolder;
}